
.macroui-check-middle:before { content: '\e830'; } /* '' */
.macroui-cancel:before { content: '\e89b'; } /* '' */
.macroui-search:before { content: '\e89d'; } /* '' */
.macroui-clear:before { content: '\e92a'; } /* '' */