@font-face {
  font-family: 'fa-custom';
  src: url('../font/fa-custom.eot?12670502');
  src: url('../font/fa-custom.eot?12670502#iefix') format('embedded-opentype'),
       url('../font/fa-custom.woff2?12670502') format('woff2'),
       url('../font/fa-custom.woff?12670502') format('woff'),
       url('../font/fa-custom.ttf?12670502') format('truetype'),
       url('../font/fa-custom.svg?12670502#fa-custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa-custom';
    src: url('../font/fa-custom.svg?12670502#fa-custom') format('svg');
  }
}
*/
 
 [class^="macroui-"]:before, [class*=" macroui-"]:before {
  font-family: "fa-custom";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.macroui-check-middle:before { content: '\e830'; } /* '' */
.macroui-cancel:before { content: '\e89b'; } /* '' */
.macroui-search:before { content: '\e89d'; } /* '' */
.macroui-clear:before { content: '\e92a'; } /* '' */