<meta charset="utf-8">
<title>MacroUI demo</title>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>

<script src="./../../dist/MacroUI.umd.min.js"></script>


<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<div id="multiselect_app">
    <div class="row">
        <div class="col-lg-2" style="padding: 20px">
            <select v-model="selected.single" >
                <option></option>
                <option v-for="option in options" :value="option.id">{{ option.name }}</option>

            </select>
        </div>
        <div class="col-lg-2" style="padding: 20px">
            {{ selected.single }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="padding: 20px">
            <u-select @search-change="onSearch($event)" @open="onOpen()" @close="onClose()" v-model="selected.multiple" :options="options_grouped" groups multiple include-select-all></u-select>
        </div>
        <div class="col-lg-2" style="padding: 20px">
            {{ selected.multiple }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="padding: 20px">
            <u-select @search-change="onSearch($event)" @open="onOpen()" @close="onClose()" v-model="selected.multiple" :options="options" multiple></u-select>
        </div>
        <div class="col-lg-2" style="padding: 20px">
            {{ selected.multiple }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="padding: 20px">
            <u-select @search-change="onSearch($event)" @open="onOpen()" @close="onClose()" @select="onselect()"  @change="onchange()" v-model="selected.single" :options="options"></u-select>
        </div>
        <div class="col-lg-2" style="padding: 20px">
            {{ selected.single }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2" style="padding: 20px">
            <u-select @search-change="onSearch($event)" @open="onOpen()" @close="onClose()" v-model="selected.single" :options="options_grouped" groups include-select-all></u-select>
        </div>
        <div class="col-lg-2" style="padding: 20px">
            {{ selected.single }}
        </div>
    </div>
</div>

<script>

  let options = [
    {"id": "empty", "name": "Не определено"},
    {"id": "calls", "name": "Телефония"},
    {"id": "tv", "name": "Телевизор"},
    {"id": "www", "name": "WWW"},
    {"id": "office", "name": "Офис"},
    {"id": "agent", "name": "Агенты"},
    {"id": "external", "name": "Другое"},
    {"id": '', "name": "Пустая строка"},
  ];

  let options_grouped = [
    {
      'optgroup': 'Group 1',
      'options': [
        {"id": "calls", "name": "Телефония"},
        {"id": "tv", "name": "Телевизор"},
        {"id": 123, "name": "Число"},
        {"id": '', "name": "Пустая строка"},
      ]
    },
    {
      'optgroup': 'Group 2',
      'options': [
        {"id": "www", "name": "WWW"},
        {"id": "office", "name": "Офис"},
        {"id": "agent", "name": "Агенты"},
      ]
    },
    {
      'optgroup': 'Group 3',
      'options': [
        {"id": "empty", "name": "Не определено"},
        {"id": "external", "name": "Другое"},
      ]
    },
  ];


  new Vue({
    components: {
      multiselect: MacroUI.Multiselect,
      'u-select': MacroUI.Select
    },
    data: {
      selected: {
        multiple: ['www', 'office'],
        single: '',
      },
      options_grouped: options_grouped,
      options: options
    },
    methods: {
      onSearch: function (e) {
          console.log('Search: ' + e.target.value);
      },
      onOpen: function () {
          console.log('on open');
      },
      onClose: function () {
          console.log('on close');
      },
      onselect: function () {
        console.log('on select');
      },
      onchange: function () {
        console.log('on change');
      }
    },
    mounted: function () {
      let self = this;
      setTimeout(function () {
        Object.assign(self.selected, {
          multiple: ['www', 'office', 'calls'],
          single: 'www',
        });
      }, 1000);
    }
  }).$mount('#multiselect_app')
</script>
