<template>
    <div class="ui-multiselect"
         @keydown.prevent.down="selectEl('next')"
         @keydown.prevent.up="selectEl('prev')"
         @keydown.space="selectByKeyboard"
         @keydown.enter="selectByKeyboard"
         @keydown.prevent.esc="filter ? filter = '' : hideDropdown()"
         :class="{'active': dropdownVisible, 'disabled-ui': disabled, 'required-ui': required && !valuesString, 'up': topDropdownPosition, 'left': leftDropdownPosition}">
        <input class="ui-multiselect-fakeinput" type="text" v-if="required" :value="valuesString" required>
        <div class="ui-input-group" @click="clickOnInput">
            <i v-if="dropdownVisible && filter"
               id="clearFilter"
               title="Очистить фильтр"
               class="fa macroui-clear"
            ></i>
            <i v-else-if="multiple ? selectedIds.length : selectedIds "
               id="clearSelected"
               title="Очистить выбранное"
               class="fa macroui-cancel"
               style="color: black"
            ></i>
            <i v-else class="fa macroui-search"></i>
            <input v-if="dropdownVisible"
                   v-model="filter" ref="input"
                   type="text" size="1" autocomplete="off"
                   @input="onSearchText"
            />
            <div v-else-if="!valuesString.length || idsReset" class="ui-placeholder">{{ placeholder }}</div>
            <div v-else v-html="valuesString"></div>
        </div>
        <div class="ui-multiselect-container" ref="container">
            <template v-if="checkall && multiple">
                <label
                    v-if="!multiple"
                    class="ui-select-item"
                    :class="{'active' : selectedIds == '' }"
                >
                    <input type="radio"
                           v-model="selectedIds"
                           value=""
                           @change="onChange('')"
                    >
                    {{ placeholder }}
                </label>
                <label v-else-if="multiple && !isEmpty" class="ui-select-item" style="font-weight: bold">
                    <input type="checkbox" v-model="selectedAll">
                    Все
                </label>
            </template>
            <template v-if="groups">
                <div class="ui-group"
                     v-for="group in dataOptions"
                     v-if="groupInFiltered(group)"
                >
                    <!--выбор всей группы-->
                    <div v-if="checkgroups && multiple && groups" class="ui-select-group" @click="selectGroup(group)">
                        <input v-if="isGroupChecked(group) === 0" type="checkbox">
                        <input v-else-if="isGroupChecked(group) === 2" checked type="checkbox">
                        <i class="macroui-check-middle" v-else></i>
                        {{ group.optgroup }}
                    </div>


                    <div v-else class="ui-group-label">
                        {{ group.optgroup }}
                    </div>
                    <template v-for="option in group.options">
                        <template v-if="!option['optgroup']">
                            <label
                                v-if="inFiltered(option.id)"
                                :key="option.id"
                                class="ui-select-item"
                                :class="{'active' : !multiple && selectedIds == option.id }"

                            >
                                <input :type="multiple ? 'checkbox' : 'radio'"
                                       v-model="selectedIds"
                                       :value="option.id"
                                       @change="onChange(option)"
                                >
                                <span v-html="option.name"></span>
                            </label>
                        </template>
                        <template v-else-if="groupInFiltered(option)">
                            <div class="ui-group-label-2">
                                {{ option.optgroup }}
                            </div>
                            <label
                                v-for="item in option.options"
                                v-if="inFiltered(item.id)"
                                :key="item.id"
                                class="ui-select-item"
                                :class="{'active' : !multiple && selectedIds == item.id }"

                            >
                                <input :type="multiple ? 'checkbox' : 'radio'"
                                       v-model="selectedIds"
                                       :value="item.id"
                                       @change="onChange(item)"
                                >
                                <span v-html="item.name"></span>
                            </label>
                        </template>
                    </template>
                </div>
            </template>
            <template v-else>
                <label v-for="option in dataOptions"
                       v-if="inFiltered(option.id)"
                       :key="option.id"
                       class="ui-select-item"
                       :class="{'active' : !multiple && selectedIds == option.id }"
                >
                    <input :type="multiple ? 'checkbox' : 'radio'"
                           v-model="selectedIds"
                           :value="option.id"
                           @change="onChange(option)">
                    <span v-html="option.name"></span>
                </label>
            </template>
            <div v-if="isEmpty" class="ui-empty">Ничего не найдено</div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Select',
    //v-model
    model: {
        prop: 'values',
        event: 'select'
    },
    props: {
        //отключение
        disabled: Boolean,
        //приходящий список опций (может быть как массивом, так и объектом)
        // пересобирается в list
        options: [Array, Object],
        //выбранные (переданы в v-model)
        // пересобирается в selectedIds
        values: [Array, String, Number, Object],
        //группами или нет
        groups: Boolean,
        //возвращать не id, а выбранные объекты целиком
        objectmode: Boolean,
        //мультивыбор
        multiple: Boolean,
        //обязательность
        required: Boolean,
        //выбрать всех (чекбокс в мультипле / плейсхолдер в обычном)
        checkall: Boolean,
        //выбрать группы (только мульти)
        checkgroups: Boolean,
        // выбранные выводятся сверху
        previewselected: Boolean,
        //кол-во отображаемых, если multiple
        displayed: {
            default: 3
        },
        //плейсхолдер
        placeholder: {
            type: String,
            default: 'Поиск',
        },
        //очищаем компоненту после выбора (нужно для селектора тегов)
        idsReset: {
            type: Boolean,
            default: false,
        }
    },
    data: () => ({
        //показан ли дропдаун
        dropdownVisible: false,
        dataOptions: [],
        // Строка поиска
        filter: '',
        //положение дропдауна
        topDropdownPosition: false,
        leftDropdownPosition: false,
        // на каком элементе сейчас выбор (стрелки)
        onSelectedEl: null,
        oldMapValues: {}
    }),
    computed: {
        //чекнутые пункты
        selectedIds: {
            get() {
                return this.filterValues();
            },
            set(newvalue) {
                this.$emit('select', this.filterValues(newvalue, true));
            }
        },
        //пункты id: item
        mapValues() {
            // Запоминаем прежние выбранные, если поменялись опции
            let oldMapFromSelectedIds = {};
            if (this.selectedIds && Object.keys(this.oldMapValues).length) {
              (!Array.isArray(this.selectedIds) ? [this.selectedIds] : this.selectedIds).forEach(id => {
                oldMapFromSelectedIds[id] = this.oldMapValues[id];
              });
            }

            let map = oldMapFromSelectedIds;
            if (this.groups) {
                this.list.forEach(i => {
                    i.options.forEach(item => {
                        if(item.optgroup) {
                            item.options.forEach(opt => {
                                map[opt.id] = opt;
                            })
                        }
                        else {
                            map[item.id] = item;
                        }
                    })
                })
            }
            else {
                this.list.forEach(item => {
                    map[item.id] = item;
                })
            }
            this.oldMapValues = map;
            return map;
        },
        //список опций
        list() {
            let values = [];
            //если пришел массив
            if (Array.isArray(this.options)) {
                values = this.options;
                //переводим айдишники в числовой формат по возможности
                //добавляем name, если они отсутствуют
                if (this.groups) {
                    values.forEach(group => {
                        group.options.forEach((item, index) => {
                            if(!item.optgroup) {
                                if (item instanceof Object) {
                                    item.id = +item.id || item.id;
                                    item.name = item.name || item.id;
                                } else {
                                    values[index] = {
                                        id: +item || item,
                                        name: item
                                    }
                                }
                            } else {
                                item['options'].forEach((i,ind) => {
                                    if (i instanceof Object) {
                                        i.id = +i.id || i.id;
                                        i.name = i.name || i.id;
                                    } else {
                                        values[index][ind] = {
                                            id: +i || i,
                                            name: i
                                        }
                                    }
                                });
                            }
                        })
                    })
                } else {
                    values.forEach((item, index) => {
                        if (item instanceof Object) {
                            item.id = +item.id || item.id;
                            item.name = item.name || item.id;
                        } else {
                            values[index] = {
                                id: +item || item,
                                name: item
                            }
                        }
                    })
                }
            }
            //переделываем объект в массив, если данные пришли объектом типа ключ(id): значение(name)
            else {
                for (let id in this.options) {
                    values.push({
                        id: id === 0 ? '0' : (+id || id),
                        name: this.options[id]
                    });
                }
            }
            return values;
        },
        //есть ли хоть один в поиске
        isEmpty() {
            return !this.filteredIds.length;
        },
        //выбраны ли все
        selectedAll: {
            get() {
                // Счетчик найденых совпадейний
                let count = this.selectedIds.reduce((a, b) => (this.filteredIds.includes(b)) ? a + 1 : a, 0);
                return count >= this.filteredIds.length
            },
            set(value) {
                //очищаем список выбранных, либо чекаем все отфильтрованные
                if (!value) this.selectedIds = [];
                else this.selectedIds = this.filteredIds;
            }
        },
        //строка выбранных
        valuesString() {
            if(!this.selectedIds || this.multiple && !this.selectedIds.length) return ''
            if (this.multiple) {
                //собираем строку чекнутых
                let str = '';
                this.selectedIds.forEach(id => {
                  if(this.mapValues[id]) str += this.mapValues[id].name + ', '
                })
                str = str.replace(/<[^>]+>/g,'').slice(0, -2); //удаляем все теги (если были) и последнюю запятую
                let strLines = str.replaceAll(', ', '&#013;') // в столбик
                // если чекнуто больше чем нужно отобразить
                if (this.selectedIds.length > +this.displayed) {
                  if (this.selectedIds.length === Object.keys(this.mapValues).length) {
                      return '<span>Выбраны все</span>';
                    }
                    else {
                      return `<div title="${strLines}">Выбрано – ${this.selectedIds.length}</div>`
                    }
                } else {
                    return `<span title="${strLines}">${str}</span>`
                }
            } else {
                return this.mapValues[this.selectedIds] ? String(this.mapValues[this.selectedIds].name).replace(/<[^>]+>/g,'') : '';
            }
        },
        //список найденных в поиске
        filteredIds() {
            let filteredIds = [];
            if (this.groups) {
                this.list.forEach(group => {
                    if (group.options) {
                        group.options.forEach(item => {
                            if(!item.optgroup) {
                                item.name = String(item.name);
                                group.optgroup = String(group.optgroup);
                                if (item.name.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0 ||
                                    group.optgroup.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0
                                ) {
                                    filteredIds.push(item.id);
                                }
                            } else {
                                item.options.forEach(i => {
                                    i.name = String(i.name);
                                    group.optgroup = String(group.optgroup);
                                    item.optgroup = String(item.optgroup);
                                    if (i.name.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0 ||
                                        group.optgroup.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0 ||
                                        item.optgroup.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0
                                    ) {
                                        filteredIds.push(i.id);
                                    }
                                })
                            }
                        });
                    }
                });
            } else {
                this.list.forEach(option => {
                    option.name = String(option.name);
                    if (option.name.toLowerCase().indexOf(this.filter.toLowerCase()) >= 0) {
                        filteredIds.push(option.id);
                    }
                });
            }
            return filteredIds;
        },
    },
    mounted() {
        //вызывает селект при инициализации
        this.$emit('select', this.filterValues(this.selectedIds,true));
    },
    methods: {
        //строка выбранных из копии индекса, для получения старого значения
        valuesStringFromIndex(mapValues) {
            if(!this.selectedIds || this.multiple && !this.selectedIds.length) return ''
            if (this.multiple) {
              //собираем строку чекнутых
              let str = '';
              this.selectedIds.forEach(id => {
                if(mapValues[id]) str += mapValues[id].name + ', '
              })
              str = str.replace(/<[^>]+>/g,'').slice(0, -2); //удаляем все теги (если были) и последнюю запятую
              let strLines = str.replaceAll(', ', '&#013;') // в столбик
              // если чекнуто больше чем нужно отобразить
              if (this.selectedIds.length > +this.displayed) {
                if (this.selectedIds.length === Object.keys(mapValues).length) {
                  return '<span>Выбраны все</span>';
                }
                else {
                  return `<div title="${strLines}">Выбрано – ${this.selectedIds.length}</div>`
                }
              } else {
                return `<span title="${strLines}">${str}</span>`
              }
            } else {
              return mapValues[this.selectedIds] ? String(mapValues[this.selectedIds].name).replace(/<[^>]+>/g,'') : '';
            }
        },
        // выбор стрелочками
        selectEl (dir) {
          let selector = !this.checkgroups ? '.ui-select-item' : '.ui-select-item, .ui-select-group'
          let allEls = Array.from(this.$el.querySelectorAll(selector))
          let active = allEls.findIndex(el => el.classList.contains('_selectest'))
          let activeEl = allEls[active]
          let newActiveEl
          if (dir === 'next') {
            if (active === -1) {
              newActiveEl = allEls[0]
            } else if (active+1 === allEls.length) {
              newActiveEl = allEls[0]
              activeEl.classList.remove('_selectest')
            } else {
              activeEl.classList.remove('_selectest')
              newActiveEl = allEls[active+1]
            }
          } else {
            if (active === -1) {
              newActiveEl = allEls[allEls.length-1]
            } else if (active === 0) {
              newActiveEl = allEls[allEls.length-1]
              activeEl.classList.remove('_selectest')
            } else {
              activeEl.classList.remove('_selectest')
              newActiveEl = allEls[active-1]
            }
          }
          newActiveEl.classList.add('_selectest')
          newActiveEl.scrollIntoView(false)
          this.onSelectedEl = newActiveEl
        },
        selectByKeyboard (e) {
          if (this.onSelectedEl !== null) {
            e.preventDefault()
            this.onSelectedEl.click()
          }
        },
        // чекнута ли группа
        isGroupChecked(group) {
            let isCheck = 0;
            group.options.forEach(item => {
                if(this.selectedIds.includes(item.id)) isCheck++;
            });
            if(isCheck === 0) return 0;
            else if(isCheck === group.options.length) return 2;
            else return 1;
        },
        //выбрать группу
        selectGroup(group) {
            //если чекнута вся группа - убираем чек
            if (this.isGroupChecked(group) === 2) {
                group.options.forEach(item => {
                    this.selectedIds.splice(this.selectedIds.indexOf(item.id),1);
                })
            }
            //если не выбрана - ставим недостающие
            else {
                group.options.forEach(item => {
                    if(!this.selectedIds.includes(item.id)) this.selectedIds.push(item.id)
                })
            }
            //вызываем селект
            this.$emit('select', this.filterValues(this.selectedIds,true));
        },
        //при клике на поле ввода
        clickOnInput({target}) {
            if(target.id === 'clearSelected') {
                this.clearSelected()
            }
            else if(target.id === 'clearFilter') {
                this.clearFilter()
                this.$refs.input.focus()
            }
            else {
                this.showDropdown()
            }
        },
        //сложный реформат v-model
        //переделывает по возможности айдишники в числ. формат, исправляет ошибки
        filterValues(newList = this.values, isSet = false) {
            let values = [];
            if (this.multiple) {
                if (Array.isArray(newList) && newList.length) {
                    if (newList.includes('')) newList = []; //где-то прилетал v-model = ['']
                    newList = newList.map((item) => (item instanceof Object) ? item.id : item)
                    values = newList.map(id => +id || id)
                } else if (typeof newList === 'number' || typeof newList === 'string' && newList.length) {
                    values.push(+newList || newList);
                }
            } else {
                newList = (newList instanceof Object) ? newList.id : newList;
                values = newList === 0 ? '0' : (+newList || newList || '');
            }
            //режим возврата объектом
            if (this.objectmode && isSet) {
                values = (this.multiple) ? values.map(id => this.mapValues[id]) : this.mapValues[values];
            }
            return values;
        },
        //при вводе текста в поиске кидаем emit (нужно для тегов)
        onSearchText(e) {
            this.$emit('search-change', e);
        },
        onChange(option) {
            this.$emit('change', option);
            if (!this.multiple) {
                this.hideDropdown();
            }
        },
        // Вхождение группы в отфильтрованные
        groupInFiltered(group) {
            let isfiltered = false;
            group.options.forEach(item => {
                if(item.optgroup) {
                    item.options.forEach(i => {
                        if (this.filteredIds.indexOf(i.id) >= 0) {
                            isfiltered = true;
                        }
                    })
                }
                else {
                    if (this.filteredIds.indexOf(item.id) >= 0) {
                        isfiltered = true;
                    }
                }
            });
            return isfiltered;
        },
        // Вхождение id в отфильтрованные
        inFiltered(id) {
            return this.filteredIds.indexOf(id) >= 0;
        },
        // Очистка строки фильтра
        clearFilter() {
            this.filter = '';
        },
        //очистка выбранного
        clearSelected() {
            if(this.disabled) return false;
            this.multiple ? this.selectedIds = [] : this.selectedIds = '';
        },
        // Скрыть дропдаун
        hideDropdown() {
            if (this.onSelectedEl) {
              this.onSelectedEl.classList.remove('_selectest')
              this.onSelectedEl = null
            }
            this.$emit('close', this.selectedIds);
            this.dropdownVisible = false;
            this.removeDropdownHandler();
            if (this.idsReset) {
                this.clearFilter();
                this.clearSelected();
            }
            this.leftDropdownPosition = false;
            this.topDropdownPosition = false;
        },
        // Сортировать чекнутые наверх
        sortedChecked () {
          if (this.multiple && this.previewselected) {
            if (!this.groups) {
              this.dataOptions = this.list.sort(item => {
                return this.selectedIds.includes(item.id) ? -1 : 1
              })
            } else {

              let checked = []
              let checkedGroup = {}

              // ищем выбран ли пункт
              let strList = JSON.stringify(this.list)
              this.selectedIds.forEach(id => {
                if (strList.includes('"id":' + id)) {
                  // добавляем в список чекнутых
                  checked.push(this.mapValues[id])
                }
              })

              // если группировка двойная
              if (this.list[0].options[0].optgroup) {
                checkedGroup = {
                  optgroup: '',
                  options: [
                    {
                      optgroup: 'Выбраны',
                      options: checked
                    }
                  ]
                }
              // если одинарная
              } else {
                checkedGroup = {
                  optgroup: 'Выбраны',
                  options: checked
                }
              }
              this.dataOptions = this.list.slice()
              this.dataOptions.unshift(checkedGroup)
            }
          } else {
            this.dataOptions = this.list.slice()
          }
        },
        // Показать дропдаун
        showDropdown() {
            if (this.dropdownVisible || this.disabled) return;
            this.$emit('open');
            this.dropdownVisible = true;
            this.clearFilter();
            let activeEl = this.$el.querySelector('input:checked');
            this.sortedChecked();
            setTimeout(() => {
                //активируем строку поиска
                this.$refs.input.focus();
                let container = this.$refs.container
                //мотаем скролл до чекнутого пункта
                if(activeEl && !this.previewselected) {
                    container.scrollTo(0,activeEl.parentElement.offsetTop);
                }
                else {
                    container.scrollTo(0,0);
                }
                document.addEventListener('mouseup', this.setHideDropdownHandler);
                this.checkDropdownPosition()
            })
        },
        // Слежение за положением дропдауна, если расстояние до краев экрана будет недостаточным
        checkDropdownPosition() {
            let container = this.$refs.container
            let windowWidth = window.innerWidth
            let bottomSpace = window.innerHeight - this.$refs.input.getBoundingClientRect().bottom
            let dropdownHeight = container.offsetHeight

            this.topDropdownPosition = dropdownHeight > bottomSpace && window.innerHeight > dropdownHeight+100

            let leftSpace = windowWidth - container.getBoundingClientRect().right
            let dropdownWidth = container.offsetWidth

            this.leftDropdownPosition = leftSpace < 0 && windowWidth > dropdownWidth
        },
        // Обработчик клика вне элемента
        setHideDropdownHandler(e) {
            if (!this.$el.contains(e.target)) {
                this.hideDropdown();
            }
        },
        // Обработчик закрытия дропдауна
        removeDropdownHandler() {
            let self = this;
            setTimeout(function () {
                document.removeEventListener('mouseup', self.setHideDropdownHandler);
            });
        }
    },
    watch: {
        options(val) {
          this.sortedChecked();
        }
    }
}
</script>

<style scoped lang="scss" type="text/scss">
@import '../assets/fa/css/fa-custom.css';

//цвета элемента
$gray-color: #ccc;
$active-color: #3961B2;
$required-color: #f60;
$hover-color: #ECF0F8;

.ui-multiselect {
    cursor: pointer;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    background: white;
    flex-grow: 1;
    min-width: 100px;

    &-fakeinput {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      opacity: 0;
      z-index: -1;
    }

    &.disabled-ui {
        cursor: no-drop;
        background-color: #f8f8f8;
        color: #3f3f3f;
    }

    &.required-ui .ui-input-group {
        border-color: $required-color;
    }

    & > select {
        display: none;
    }

    .ui-empty {
        color: $gray-color;
        padding: 5px 10px;
    }

    .ui-input-group {
        display: flex;
        position: relative;
        align-items: center;
        height: 28px;
        border: 1px solid $gray-color;
        border-radius: 3px;
        overflow: hidden;
        //стрелочка
        &::after {
            content: '';
            border: 4px solid transparent;
            border-top-color: $gray-color;
            position: absolute;
            top: 11px;
            right: 10px;
        }

        i {
            padding-left: 5px;
            padding-right: 3px;
            color: $gray-color;
        }

        div {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 25px;
        }

        input {
            font: inherit;
            width: 100%;
            align-self: stretch;
            border: none;
            padding: 0;
            padding-right: 25px;

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }

    .macroui-check-middle {
        color: #aaa;
        margin-top: 3px;
        margin-right: 5px;
        font-size: 13px;
        margin-left: -3px;
        padding-right: 1px;
    }

    .macroui-clear {
      font-size: 17px;
      &:before {
        margin-left: 0;
      }
    }

    .ui-placeholder {
        color: $gray-color;
    }

    .ui-multiselect-container {
        display: none;
        border: 1px solid $active-color;
        position: absolute;
        left: 0;
        top: 26px;
        min-width: 100%;
        max-width: 400px;
        width: max-content;
        max-height: 315px;
        overflow-y: auto;
        z-index: 1500;
        background-color: white;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #eee;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3961B2;
            height: 20px;
        }
    }

    .ui-group-label {
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        color: #959595;
        padding-top: 5px;
        border-top: 1px solid $gray-color;
        margin: 0 10px;
    }
    .ui-group-label-2 {
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        color: black;
        margin: 0 10px;
    }

    .ui-select-item {
        padding: 5px 10px;
        font: inherit;
        display: flex;
        align-items: flex-start;
        margin: 0;
        cursor: pointer;

        input[type='radio'] {
            display: none;
        }

        input[type='checkbox'] {
            margin: 0;
            margin-top: 3px;
            margin-right: 8px;
        }

        &:hover, &.active, &._selectest {
            background-color: $hover-color;
        }
    }

    .ui-select-group {
        @extend .ui-select-item;
        font-weight: bold;
        border-top: 1px solid $gray-color;
    }

    //убираем бордер у первой группы
    .ui-group:first-child .ui-group-label,
    .ui-select-item + .ui-group .ui-group-label,
    .ui-group:first-child .ui-select-group,
    .ui-select-item + .ui-group .ui-select-group {
        border-top: none;
    }

    &.active {

        .ui-input-group {
            border-color: $active-color;
            border-radius: 3px 3px 0 0;

            i {
                color: $active-color;
            }

            &::after {
                border-top-color: $active-color;
            }
        }

        .ui-multiselect-container {
            display: block;
        }

        &.up {
            .ui-input-group {
                border-radius: 0 0 3px 3px;
            }

            .ui-multiselect-container {
                top: 1px;
                transform: translateY(-100%);
            }
        }
        &.left {
            .ui-multiselect-container {
                right: 0;
                left: auto;
            }
        }
    }
    &.table-select {
        margin: -8px;
        &, .ui-input-group, .ui-input-group input {
            background-color: transparent;
        }
        .ui-input-group {
            border-color: transparent;
            border-radius: 0 !important;
        }
        .macroui-search, #clearSelected {
            opacity: 0;
            width: 10px;
        }
        .ui-placeholder {
            display: none;
        }
        .ui-multiselect-container {
            border: none;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
        }
        &.active {
            .ui-input-group {
                outline: 1px solid $active-color;
                border-color: $active-color;
            }
        }
        &.disabled-ui {
            cursor: auto;
            .ui-input-group::after {
                border-color: transparent;
            }
        }
    }
}
</style>
